<script id="ambiente-detelle-template" type="text/x-handlebars-template">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{titulo_modal}}</h4>
      </div>
      <div class="modal-body">
        <label class="texto-der mensaje-full-width" id="txtMensajeRptaAmbienteDetalle"></label>
        <label class="oculto" id="lblIdAmbiente">{{id}}</label>
        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                <label for="txtNombre">Nombre</label><span class="texto-validacion"></span>
                <input type="text" class="form-control" id="txtNombre" value="{{nombre}}" {{#if disabled}}disabled{{/if}}>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="txtSubtitulo">Subtítulo</label><span class="texto-validacion"></span>
                <input type="text" class="form-control" id="txtSubtitulo" value="{{subtitulo}}" {{#if disabled}}disabled{{/if}}>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                <label for="txtParrafoIzquierdo">Párrafo Izquierda</label><span class="texto-validacion"></span>
                <textarea name="txtParrafoIzquierdo" id="txtParrafoIzquierdo" {{#if disabled}}disabled{{/if}}>{{parrafo_izq}}</textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="txtParrafoDerecho">Párrafo Derecho</label><span class="texto-validacion"></span>
                <textarea name="txtParrafoDerecho" id="txtParrafoDerecho" {{#if disabled}}disabled{{/if}}>{{parrafo_der}}</textarea>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="txtTelefono">Teléfono</label><span class="texto-validacion"></span>
              <input type="text" class="form-control" id="txtTelefono" value="{{telefono}}" {{#if disabled}}disabled{{/if}}>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label for="txtDireccion">Dirección</label><span class="texto-validacion"></span>
              <input type="text" class="form-control" id="txtDireccion" value="{{direccion}}" {{#if disabled}}disabled{{/if}}>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="txtLatitud">Latitud</label><span class="texto-validacion"></span>
              <input type="text" class="form-control" id="txtLatitud" value="{{latitud}}" {{#if disabled}}disabled{{/if}}>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="txtLongitud">Longitud</label><span class="texto-validacion"></span>
              <input type="text" class="form-control" id="txtLongitud" value="{{longitud}}" {{#if disabled}}disabled{{/if}}>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-default pull-right" id="btnGuardarDetalleAmbiente"><i class="fa fa-check" aria-hidden="true"></i>Guardar Cambios</button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" style="margin-bottom:10px">
              <label for="txtLongitud" style="width:100%">Foto Principal</label>
              <label id="imagen_principal_id" class="oculto">{{foto_principal}}</label>
						  <input type="file" id="input_file_ambiente_principal" name="myFile" type="file" class="oculto"/>
              <button id="buscar_file_ambiente_principal" class="btn btn-default btn-file pull-left"{{#if disable}}disabled{{/if}}><i class="fa fa-file-image-o" aria-hidden="true"></i>Buscar </button>
              <button id="upload_file_ambiente_principal" class="btn btn-default btn-file pull-left"{{#if disable}}disabled{{/if}}><i class="fa fa-upload" aria-hidden="true"></i>Subir </button>
    					<a href="{{foto_principal_url}}"  target="_blank" id="view_file_principal" class="btn btn-default btn-file pull-left {{#ifEquals foto_principal ''}}oculto{{/ifEquals}}"><i class="fa fa-search" aria-hidden="true" style="margin-right: 5px"></i>Ver </a>
              <button type="button" class="btn btn-default {{#ifEquals foto_principal ''}}oculto{{/ifEquals}}" id="btnAsociarPrincipalAmbiente"><i class="fa fa-check" aria-hidden="true"></i>Asociar Imagen</button>
    					<progress id="progbar_principal" value="0" min="0" max="100" class="oculto" role=""></progress>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="txtLongitud" style="width:100%">Foto Menu</label>
              <label id="imagen_menu_id" class="oculto">{{foto_menu}}</label>
              <input type="file" id="input_file_ambiente_menu" name="myFile" type="file" class="oculto"/>
              <button id="buscar_file_ambiente_menu" class="btn btn-default btn-file pull-left"{{#if disable}}disabled{{/if}}><i class="fa fa-file-image-o" aria-hidden="true"></i>Buscar </button>
              <button id="upload_file_ambiente_menu" class="btn btn-default btn-file pull-left"{{#if disable}}disabled{{/if}}><i class="fa fa-upload" aria-hidden="true"></i>Subir </button>
    					<a href="{{foto_menu_url}}"  target="_blank" id="view_file_menu" class="btn btn-default btn-file pull-left {{#ifEquals foto_menu ''}}oculto{{/ifEquals}}"><i class="fa fa-search" aria-hidden="true" style="margin-right: 5px"></i>Ver </a>
              <button type="button" class="btn btn-default {{#ifEquals foto_menu ''}}oculto{{/ifEquals}}" id="btnAsociarMenuAmbiente"><i class="fa fa-check" aria-hidden="true"></i>Asociar Imagen</button>
    					<progress id="progbar_menu" value="0" min="0" max="100" class="oculto" role=""></progress>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" style="margin-bottom:10px">
              <label style="width:100%">Foto Galería</label>
              <table class="list issues" style="" id="tablaAmbienteGaleria"></table>
            </div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</script>
